body {
    padding: 25px;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

address,
.rendered-google-maps {
    width: 300px;
    height: 150px;
}

address {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

@media only screen  and (min-device-width : 320px)  and (max-device-width : 480px) {
    .rendered-google-maps {
        width: 100%;
    }
}
